html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

* {
  font-family: Poppins
}

img, p, body, html {
  padding: 0;
  margin: 0;
}

div, a, text, p {
  transition: 600ms color, 600ms background-color
}

/* body {
  filter: invert(100%) sepia(100%);
  background-color: #111
} */

img {
  width: 100%
}

@font-face {
  font-family: 'Poppins'; /*a name to be used later*/
  src: url('Poppins-Bold.ttf'); /*URL to font*/
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 10s reverse linear infinite;
}